<!DOCTYPE html>
<html>
<head>
	<title>wish_items_create</title>
	{% load staticfiles %}
	 <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
<p class="logout">
	<a href="/home" >Home</a>	
	<a href="/logout" >Logout</a>
</p>
<h4>Create a New Wish List Item</h4>

<form action="/product_process" method="post"> 
{% csrf_token %}
	<label class="input">
		Item/Product: <input type="text" name="item">
	</label>
	<label class="input">
		<input type="submit" name="submit" value="Add">	
	</label>
</form>

{% for message in messages %}
    <p{% if message.tags  == 'info' %} class="{{ message.tags }}" id="messages">{{ message }}{% endif %}</p>
    {% endfor %}


<!-- <form action="/home" method="post">
	{% csrf_token %}

</form>

<form action="/logout" method="post">
	{% csrf_token %}
</form> -->
</body>
</html>